body{
  background-color:#45B8AC;
  
}
.App
 {
    display: grid;
    grid-template-columns: 500px 500px ;
    padding: 10px;
    gap: 10px;
    justify-content: space-around;
}
.card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  /* width: 500px; */
}
.card{
  position: relative;
  transition: transform 0.4s;
}
.card:hover{
  cursor: pointer;
  transform: scale(1.1);
}
